/* Override some defaults */
textarea.xxlarge, input.xlarge, textarea {
    width: 94%;
}

/* The white background content wrapper */
.container > .content {
  padding: 10px;
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
